
*.config

bin/Debug/app.publish/Dungeons&Dickheads.exe

bin/Debug/Discord.Net.Commands.dll

bin/Debug/Discord.Net.Commands.xml

bin/Debug/Discord.Net.Core.dll

bin/Debug/Discord.Net.Core.xml

bin/Debug/Discord.Net.Rest.dll

bin/Debug/Discord.Net.Rest.xml

bin/Debug/Discord.Net.Rpc.dll

bin/Debug/Discord.Net.Rpc.xml

bin/Debug/Discord.Net.Webhook.dll

bin/Debug/Discord.Net.Webhook.xml

bin/Debug/Discord.Net.WebSocket.dll

bin/Debug/Discord.Net.WebSocket.xml

bin/Debug/Dungeons&Dickheads.application

bin/Debug/Dungeons&Dickheads.exe

bin/Debug/Dungeons&Dickheads.exe.manifest

bin/Debug/Dungeons&Dickheads.pdb

bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.dll

bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.xml

bin/Debug/Microsoft.Extensions.DependencyInjection.dll

bin/Debug/Microsoft.Extensions.DependencyInjection.xml

bin/Debug/Newtonsoft.Json.dll

bin/Debug/Newtonsoft.Json.xml

bin/Debug/System.Collections.Immutable.dll

bin/Debug/System.Collections.Immutable.xml

bin/Debug/System.Interactive.Async.dll

bin/Debug/System.Interactive.Async.xml

bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll

obj/Debug/MyDick.csproj.GenerateResource.Cache

obj/Debug/MyDick.csprojAssemblyReference.cache

obj/Debug/DesignTimeResolveAssemblyReferences.cache

obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

obj/Debug/Dungeons&Dickheads.application

obj/Debug/Dungeons&Dickheads.exe

obj/Debug/Dungeons&Dickheads.exe.manifest

obj/Debug/Dungeons&Dickheads.pdb

obj/Debug/MyDick.csproj.CopyComplete

obj/Debug/

bin/

obj/

bin/Debug

bin/Release

obj/Release

obj/Debug