<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyDick.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MyDick.Properties.Settings>
            <setting name="StrMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DexMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WisMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CharMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AcrobaticsMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnimalHandlingMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArcanaMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AthleticsMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeceptionMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistoryMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InsightMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntimidationMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InvestigationMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MedicineMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NatureMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerceptionMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerformanceMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PersuasionMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReligionMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SleightOfHandMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StealthMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurvivalMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon1AttackMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon2AttackMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon3AttackMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon1DamageMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon2DamageMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon3DamageMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon1DamageDie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon2DamageDie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon3DamageDie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weapon1Name" serializeAs="String">
                <value>Sword</value>
            </setting>
            <setting name="Weapon2Name" serializeAs="String">
                <value>Shortbow</value>
            </setting>
            <setting name="Weapon3Name" serializeAs="String">
                <value>Dagger</value>
            </setting>
            <setting name="CharacterName" serializeAs="String">
                <value />
            </setting>
            <setting name="Class" serializeAs="String">
                <value />
            </setting>
            <setting name="Background" serializeAs="String">
                <value />
            </setting>
            <setting name="Race" serializeAs="String">
                <value />
            </setting>
            <setting name="Alignment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExperiencePoints" serializeAs="String">
                <value />
            </setting>
            <setting name="Level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PersonalityTraits" serializeAs="String">
                <value />
            </setting>
            <setting name="Ideals" serializeAs="String">
                <value />
            </setting>
            <setting name="Bonds" serializeAs="String">
                <value />
            </setting>
            <setting name="Flaws" serializeAs="String">
                <value />
            </setting>
            <setting name="HP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BotToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ChannelID" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerID" serializeAs="String">
                <value />
            </setting>
            <setting name="DMUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="DeathRollSuccesses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeathRollFailures" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealthState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealthTransistionState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Proficiencies" serializeAs="String">
                <value />
            </setting>
            <setting name="Languages" serializeAs="String">
                <value />
            </setting>
            <setting name="FeaturesAndTraits" serializeAs="String">
                <value />
            </setting>
            <setting name="Notes" serializeAs="String">
                <value />
            </setting>
        </MyDick.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>